<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Мой форум - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ie9")
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Default" class="navbar-brand">Мой форум</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li><a href="~/Account/List/1">Пользователи</a></li>
                }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Account/Register">Регистрация</a></li>
                    <li><a href="~/Account/Login">Вход</a></li>
                }
                else
                {
                    <li><a href="~/Account/LogOff">Выход</a></li>
                }
                </ul>
            </div>
        </div>
    </nav>
    <div id="main-content">
        <div class="text-right"></div>
        <div class="container">
            @if (@User.Identity.IsAuthenticated)
            {
                <div class="text-right">
                    Вы вошли как <a href="~/Account/Profile/@User.Identity.Name">@User.Identity.Name</a>
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>Мой форум, &copy; 2017</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
